---
import HomeIcon from "@/icons/Home.astro";
import SearchIcon from "@/icons/Search.astro";
import LibraryIcon from "@/icons/Library.astro";
import AsideMenuItem from "./AsideMenuItem.astro";
import AsideMenuCard from "./AsideMenuCard.astro";

import { playlists } from "@/lib/data";
---

<nav class="flex-1 flex flex-col gap-2">
  <div class="bg-zinc-900 rounded-lg p-2">
    <ul>
      <AsideMenuItem href="/">
        <HomeIcon class="text-zinc-400" size={32} />
        Inicio
      </AsideMenuItem>
    </ul>

    <ul>
      <AsideMenuItem href="/#">
        <SearchIcon />
        Buscar
      </AsideMenuItem>
    </ul>
  </div>

  <div class="flex-1 bg-zinc-900 rounded-lg p-2">
    <ul>
      <AsideMenuItem href="/">
        <LibraryIcon />
        Biblioteca
      </AsideMenuItem>

      {playlists.map((playlist) => <AsideMenuCard playlist={playlist} />)}
    </ul>
  </div>
</nav>
